<div class="actions">
    <button mat-button (click)="willAdd = !willAdd"><mat-icon>add</mat-icon>ADD</button>   
</div>

<div *ngIf="willAdd">
    <form [formGroup]="form">
        <input type="text" name="" id="" placeholder="Company name" formControlName="companyname">
        <input type="text" name="" id="" placeholder="Creation year" formControlName="creationyear">
        <input type="text" name="" id="" placeholder="Owner" formControlName="owner">

        <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" formControlName="photo">

        <input #backimage type="file" accept="image/*" (change)="processFile(backimage, 'BACK')" formControlName="backgroundimage">
        
        <button mat-button type="button" class="middle-action" (click)="add()">ADD</button>
    </form>    
</div>

<div class="main">
    
    <div class="add-nav">
        
    </div>

    <div *ngIf="companyList.length <= 0" class="empty">
        <div>
            <h3>NO COMPANIES WERE INSERTED</h3>
        </div>
    </div>

    <div *ngFor="let company of companyList" class="hero-card">
        <app-company-component
            title="{{company.companyname}}"
            subtitle="{{company.owner}}"
            profilepic="{{company.profilepic}}"
            pic="{{company.backgroundimage}}"
            [data]="company"
            (action)="deleteCompany(company)"
            (action2)="updateCompany"
            company=""
            description=""
        ></app-company-component>
    </div>

</div>