.detail{
    border: px solid red;
    display: flex;
    margin: 5% auto;
    width: 70%;
}

.profile-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.hold-infos{
    width: 50%;
    text-align: center;
}

input{
    display: block;
    padding: 1%;
    width: 100%;
    margin: 2% auto 2% auto;
}

select{
    display: block;
    text-align: center;
    padding: 1%;
    width: 100%;
    margin: 2% auto 2% auto;
}

button{
    background-color: #00cef2;
}