<div class="detail">
    <div class="profile-image">
        <img src="{{heroModel?.profilepic}}" alt="">
    </div>
    <div class="hold-infos">
        <h3>INFOS</h3>
        <form action="" [formGroup]="form">
            <input type="text" name="" id="" placeholder="Hero name" formControlName="heroname">
            <input type="text" name="" id="" placeholder="Group" formControlName="group">
            <input type="text" name="" id="" placeholder="Weapon" formControlName="weapon">
            <div>
                <select name="" id="" formControlName="herocompany">
                    <option value="" disabled selected>COMPANY</option>
                    <option value="" disabled selected *ngIf="companyList.length <= 0">NO COMPANIES AVAILABEL</option>
                    <option value="{{company.companyid}}" *ngFor="let company of companyList">{{company.companyname}}</option>
                </select>
            </div>
            <label for="">Profile Image</label>
            <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" formControlName="photo">

            <label for="">Background Image</label>
            <input #backimage type="file" accept="image/*" (change)="processFile(backimage, 'BACK')"
                formControlName="backgroundimage">
            <button mat-button (click)="updateHero()">UPDATE</button>
        </form>
    </div>
</div>